* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
} 

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 25vh 1fr;
}

.header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 1fr 1fr;
}

.search {
    display: flex;
    align-items: center;
    margin-left: 35px;
}

#search {
    position: relative;
    width: 30rem;
    height: 21px;
    border-radius: 10px;
    background-color: #e5e7eb;
    border-style: none;
}

.searchIcon {
    width: 25px;
}

.profile {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.profileName {
    align-self: center;
}

.notificationIcon {
    width: 25px;
}

.cartoonProfile {
    width: 50px;    
}

.profileName {
    font-weight: bold;
}

.userInfo {
    display: grid;
    grid-template-columns: 70px 1fr;
    grid-template-rows: 1fr;
    margin-left: 35px;
    margin-bottom: 5px;
}

.cartoonProfileInUserInfo {
    grid-column: 1 / 2;
    grid-row: 1;
    align-self: center;
    width: 75px;
}

.userInfotext {
    grid-column: 2 / 3;
    grid-row: 1;
    align-self: center;
}

.userInfo .userInfotext h4, h2 {
    padding: 0;
    margin: 0;
    font-weight: bold;
}

.buttons {
    display: flex;
    justify-content: start;
    gap: 30px;
    align-items: center;
    margin-left: 24px;
}

.buttons button {
    width: 80px;
    height: 30px;
    border-radius: 14px;
    border-style: none;
    background-color: #0ea5e9;
    color: white;
    cursor: pointer;
}

.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-color: #0ea5e9;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr 6fr;
}

.sidebar h2 {
    color: white;
    margin-left: 16px;
}

.sidebar img {
    filter: invert(100%) sepia(97%) saturate(0%) hue-rotate(55deg) brightness(104%) contrast(103%);
    margin-left: 16px;
}

.dashboard {
    display: flex;
    align-items: center;
}

.firstSectionIcons {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.SecondSectionIcons {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.dashboardIcon {
    width: 50px;
}

.firstSectionIcons img {
    width: 30px;
}

.SecondSectionIcons img {
    width: 30px;
}

.mainContent {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 4fr 1.7fr;
    grid-template-rows: 50px 1fr 50px 1fr;
    background-color: #e5e7eb;
}

.yourProjectSection {
    grid-column: 1 / 2;
    grid-row: 2 / 5;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    gap: 20px;
    margin-left: 20px;
}

.yourProjectSectionCards {
    background-color: white;
    border-left-width: 7px;
    border-left-style: solid;
    border-left-color: #facc15;
    border-radius: 9px;
}

.yourProjectSectionCards h3 {
    margin-top: 30px;
}

.yourProjectHeading {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    margin-left: 20px;
    margin-top: 20px;
}

.yourProjectSection .yourProjectSectionCards h3, p {
    margin-left: 16px;
    margin-right: 16px;
}

.cardIcons {
    display: flex;
    justify-content: end;
    gap: 20px;
    margin-right: 20px;
    margin-top: 60px;
}

.annoucementSection {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: white;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 9px;
    margin-bottom: 30px;
}

.announcementHeading {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    margin-left: 20px;
    margin-top: 20px;
}

.annoucementSectionContents {
    height: 17vh;
    margin-left: 20px;
    margin-right: 20px;
}

.annoucementSection .annoucementSectionContents p {
 margin-top: 0px;
}

.annoucementSection .annoucementSectionContents h3 {
    margin-bottom: 0px;
    margin-left: 20px;
}

.topAnnoucement {
    margin-top: 27px;
}

.trendingSection {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    background-color: white;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.trendingHeader {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    margin-left: 20px;
    margin-top: 20px;
}

.trendingSectionContents {
    height: 16vh;
    display: flex;
}

.trendingUSerInfo{
    align-self: center;
    margin-left: 14px;
}

.trendingUSerInfo p {
    padding: 0;
    margin: 0;
}

.lastRowSection {
    margin-bottom: 27px;
}

img {
    width: 40px;
}

